body {
	min-width: 100wh;
	min-height: 90vh;
    background-color: #3d4656;
    background-image:  url("BG10.svg");
   /* background-image: url("BG10.svg"), linear-gradient(#535f73, #343E54 );*/
    background-size: 30%;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: repeat-x;
      /*background-image: url("bg.svg");
   background-size: 400px 300px;    
   background-repeat: repeat;*/

}
.row > div > img { width: 100%; display: block; }

.margintop {
    margin-top: 7.5%;
}

.about {
    color: #fff;
}

.portrait {
 border: 8px outset #6A7A8A;
}

.topheader {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 30px;
}


img {
    padding-top: 20px;
    padding-bottom: 20px;
}
 
 .imagetext {
        text-align: center;
 }

 h3 {
    color: #000000;
    font-weight: lighter;

 }

 .img-fluid {
     padding: 20px;
 }
  h4 {
    color: #000000;
    font-weight: lighter;
    opacity: 0.7;
    padding-top: 20px;

 }

a:hover {
    text-decoration: underline #FF5252; 
}





.textlol::selection {
  background-color:#FF5252;
  color: black;
}

.school {
	background-color: #863232;
    -webkit-transition: 0.125s ease-in-out;
    -moz-transition: 0.125s ease-in-out;
    -o-transition: 0.125s ease-in-out;
    transition: 0.125s ease-in-out;

}

.school:hover {

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform:scale(1.05);
    transform: scale(1.05);
    z-index: 1000;
    letter-spacing: 2px;


}

.work {
	background-color: #0288d1;
	-webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.work:hover {
		-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform:scale(1.1);
    transform: scale(1.1);
	border: 3px dotted #FF5252;
	z-index: 1000;
    text-decoration: underline #FF5252; 

}

.dropshadow {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.wip {
	background-image: url(frontpage-bg.jpg);
    background-size: cover;
	-webkit-transition: 0.125s ease-in-out;
    -moz-transition: 0.125s ease-in-out;
    -o-transition: 0.125s ease-in-out;
    transition: 0.125s ease-in-out;
}

.wip:hover {
		-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform:scale(1.05);
    transform: scale(1.05);
	z-index: 1000;
    letter-spacing: 2px;

}
.maincontent {
    background-color: #fff;
    margin-top: 80px;
    margin-bottom: 40px;
    padding-bottom: 60px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);

}

.aboutcontent {
    margin-top: 120px;
    margin-bottom: 80px;
    padding-bottom: 60px;
}



/*.maincontent h2 {
    color: #000000;
    text-align: left;
    font-size: 1.5rem;
}*/

.whitetxt {
	color: #fff;
}

.portrait {
    border-radius: 1px;
    max-width: 75%;
}

.mainheader {
	font-size: 12px;
    color: #fff;
    background-color: #FF5252;
    padding: 5px;
		-webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mainheader:hover {
text-decoration: underline #fff; 
opacity: 0.8;
font-weight: bold;

}

.maillink {
    text-decoration: underline dashed #007bff; 
    color: #ffffff;
    font-weight: bold;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.maillink:hover{
    opacity: 0.8;
    text-decoration: underline wavy #FF5252;
}

hr {
    border: 0;
    height: 3px;
    background: #4d4d4d;
    opacity: 0.9;
}

.carousel-caption {
position: static !important;

}

.p-carousel {
        color: #ffffff;
    text-align: center;
    opacity: 1;
    font-weight: bolder;
}

/*.row {
	padding: 20px;
    padding-top: 100px;
}*/




.content {
	    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 300px;

}
@media screen and (min-width: 700px) {
.maincontentcontainer {
     padding: 130px;
}

.contentheader {
	color:     #ffffff;
	font-size: 160px;
    font-weight: bold;
    text-align: left;
    text-decoration: wavy #007bff;
    margin-top: 100px;
   /* position: absolute;
    z-index: 10000000;*/

}
.textlol {

    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-align: left;
    padding: 50px 50px 50px 50px;
    font-size: 1.8rem;
    opacity: 1;
}

p, h1, h2, h3, h4, h5 {
    margin-left: 40px;
    margin-right: 40px;
}
}

@media screen and (max-width: 699px) {
    .maincontentcontainer {
         padding: 40px;
    }
    .contentheader {
        color:     #ffffff;
        font-size: 80px;
        font-weight: bold;
        text-align: left;
        text-decoration: wavy #007bff;
       /* position: absolute;
        z-index: 10000000;*/
    
    }
    .textlol {

        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        text-align: left;
        padding: 20px;
        font-size: 1rem;
        opacity: 1;
    }
    p, h1, h2, h3, h4, h5 {
        margin-left: 10px;
        margin-right: 10px;
    }
    }


p {
 /*   font-family: 'Montserrat', sans-serif;*/
    color: black;
    text-align: left;
    opacity: 0.8;
}

li {
 /*   font-family: 'Montserrat', sans-serif;*/
    color: black;
    text-align: left;
    opacity: 0.8;
    font-weight: 400;
}

.nav-link {
    color: #fff;
    font-family: "Space Mono", monospace;
    font-size: 1.2rem
}


ul
{
 /*   font-family: 'Montserrat', sans-serif;*/
    color: black;
    text-align: left;
    opacity: 0.9;
    font-weight: lighter;
}

p::selection {
      background-color:#FF5252;
}

#typed-strings p {

    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: left;
    padding: 50px;
    font-size: 1.6rem;
}

h1 {
    font-family: 'Space Mono', monospace;
    color: black;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-family: 'Space Mono', monospace;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
}


.schoolheader {
    color: #8e24aa; 
}

.wipheader {
    color: #fdd835; 
    opacity: 0.9;
}

.workheader {
        color: #0288d1; 
}

.themeschool {
    opacity: 1 !important;
    font-size: 1.2rem;
    background-color: #8e24aa;
    color: #fff;
}

.themewip {
    opacity: 1 !important;
    font-size: 1.2rem;
    background-color: #fdd835;
    color: #fff;
}

.themework {
    opacity: 1 !important;
    font-size: 1.2rem;
    color: #000000;
    text-align: left;
}

#row-one, #row-two, #row-three, #row-four, #row-five {
    display: none;
}


.red {
  border: 4px dashed #bf2615;
}

.grey {
    border: 4px dashed #212529 ;
  
  }

  #curvearrow {
    position: relative;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 9px solid red;
    transform: rotate(10deg);
  }
  #curvearrow:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 3px solid red;
    border-radius: 20px 0 0 0;
    top: -12px;
    left: -9px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
  }